<ion-header>
  <ion-navbar>
    <ion-title>
      Keep In Touch
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newContact()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="accordion-list">
  <div *ngFor="let contact of contacts | async; let i = index">
    <ion-item
    (click)="toggleContactHolder(contact.$key)"
    [ngClass]="{'section-active': openedContact == contact.$key, 'section': openedContact == contact.$key}">
      {{contact.title}}
    </ion-item>
    <ion-item *ngIf="openedContact == contact.$key">
      Contact via: Phone, Text
    </ion-item>
  </div>
</ion-list>
</ion-content>
