<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>
      Keep In Touch
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="choosePlan()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h4>Today</h4>
  <ion-list class="accordion-list">
    <div *ngFor="let contact of todaycontacts | async; let i = index">
      <ion-item (click)="toggleContactHolder(contact.$key)" [ngClass]="{'section-active': openedContact == contact.$key, 'section': openedContact == contact.$key}">

        <div>{{contact.name}}</div>

        <div class="darkgrey" *ngIf="contact.description">
          {{contact.description}}
        </div>

        <div>{{contact.daytime | timeOfDay}}, {{contact.repeat}}</div>


        <button ion-button icon-only item-end small (click)="repeatContact(contact.$key, contact.daytime, contact.repeat)">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>

        <button ion-button icon-only item-end small (click)="showOptions(contact.$key, contact.name)">
        <ion-icon name="more"></ion-icon>
      </button>
      </ion-item>

      <div>
        <button ion-button icon-only item-start outline small color="secondary" (click)="callThem(contact.phoneNumbers[0].value)">
          <ion-icon name="call"> </ion-icon>
        </button>

        <button ion-button icon-only item-start outline small color="secondary">
        <ion-icon name="text"> </ion-icon>
      </button>
      </div>
    </div>
  </ion-list>

  <h4>Later</h4>
  <ion-list class="accordion-list">
    <div *ngFor="let contact of latercontacts | async; let i = index">
      <ion-item (click)="toggleContactHolder(contact.$key)" [ngClass]="{'section-active': openedContact == contact.$key, 'section': openedContact == contact.$key}">

        <div>{{contact.name}}</div>

        <div class="darkgrey" *ngIf="contact.description">
          {{contact.description}}
        </div>

        <div>{{contact.daytime | timeOfDay:['day']}}, {{contact.repeat}}</div>

        <button ion-button icon-only item-end small (click)="repeatContact(contact.$key, contact.daytime, contact.repeat)">
          <ion-icon name="md-checkmark"></ion-icon>
      </button>

        <button ion-button icon-only item-end small (click)="showOptions(contact.$key, contact.name)">
          <ion-icon name="more"></ion-icon>
      </button>
      </ion-item>

      <div *ngIf="openedContact == contact.$key">
        <button ion-button icon-only item-start outline small color="secondary" (click)="callThem()">
        <ion-icon name="call"> </ion-icon>
      </button>

        <button ion-button icon-only item-start outline small color="secondary">
        <ion-icon name="text"> </ion-icon>
      </button>
      </div>
    </div>
  </ion-list>
</ion-content>