<ion-header>
  <ion-navbar>
    <ion-title>
      Keep In Touch
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3>Add a Contact Plan From Your Phone:</h3>
  <form (ngSubmit)="logForm()">       
    <ion-item>
      <ion-label floating >Contact Name:</ion-label> 
      <ion-input type="text" [(ngModel)]="contact.name" name="name"></ion-input>
    </ion-item> 

    <ion-list *ngFor="let number of contact.phoneNumbers">
      <ion-item> <span>{{number.type}}: </span>{{number.value}}</ion-item>
      
    </ion-list>

    <ion-item>
      <ion-label floating >Description:</ion-label>
      <ion-textarea [(ngModel)]="contact.description" name="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Repeat</ion-label>
      <ion-select [(ngModel)]="contact.repeat" name="repeat">
        <ion-option *ngFor="let repeat of repeats">{{repeat}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating >Start Date</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="YYYY MMM DDD" [(ngModel)]="contact.daytime" [ngModelOptions]="{standalone: true}"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label floating >Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="contact.daytime" [ngModelOptions]="{standalone: true}"></ion-datetime>
    </ion-item>
    <button ion-button type="submit" block>Add Contact Plan</button>
  </form>



</ion-content>